#root {
  height: 100%;
  display: grid;
  place-items: center;
  padding-inline: 24px;
}

section {
  width: 100%;
  max-width: 416px;
  padding: 24px;
  background: var(--gradient-black);
  border-radius: 15px;
}

@media screen and (min-width: 481px) {
  section {
    padding: 32px;
    border-radius: 30px;
  }
}

.icon {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
  background-color: var(--clr-dark-blue);
  border-radius: 100%;
}

@media screen and (min-width: 481px) {
  .icon {
    width: 48px;
    height: 48px;
    margin-bottom: 30px;
  }
}

.rating {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rating button {
  position: relative;
  width: 42px;
  height: 42px;
  font: var(--font-rating);
  letter-spacing: var(--letter-space-rating);
  color: var(--clr-med-grey);
  background-color: var(--clr-dark-blue);
  border: none;
  border-radius: 100%;
}

.rating span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 1.2em;
}

@media screen and (min-width: 481px) {
  .rating button {
    width: 51px;
    height: 51px;
  }
}

.submit {
  width: 100%;
  height: 45px;
  margin-top: 24px;
  font: var(--font-button);
  letter-spacing: var(--letter-space-button);
  color: var(--clr-white);
  background-color: var(--clr-orange);
  border-radius: 45px;
  border: none;
}

.submit:is(:hover, :focus) {
  color: var(--clr-orange);
  background-color: var(--clr-white);
}

@media screen and (min-width: 481px) {
  .submit {
    font: var(--font-head-md);
    letter-spacing: var(--letter-space-head-md);
    margin-top: 32px;
  }
}