@import url(https://fonts.googleapis.com/css?family=Overpass:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-grey: hsl(217, 12%, 63%);
  --clr-med-grey: hsl(216, 12%, 54%);
  --clr-dark-blue: hsl(213, 19%, 18%);
  --clr-very-dark-blue: hsl(216, 12%, 8%);
  --clr-orange: hsl(25, 97%, 53%);
  --font-head-lg: bold 28px 'Overpass', 'Arial', sans-serif;
  --font-head-md: bold 15px 'Overpass', 'Arial', sans-serif;
  --font-body: bold 15px/24px 'Overpass', 'Arial', sans-serif;
  --font-rating: bold 16px/24px 'Overpass', 'Arial', sans-serif;
  --letter-space-head: 2px;
  --letter-space-rating: 0.2px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: var(--font-body);
  color: var(--clr-light-grey);
  background-color: var(--clr-very-dark-blue);
}

h2 {
  font: var(--font-head-lg);
  color: var(--clr-white);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}